name: Prettier v3.8.0

on:
  push:
    branches: [ main ]

permissions:
  contents: write

jobs:
  prettier:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Prettier Action
        uses: creyD/prettier_action@v4.6
        with:
          same_commit: true
          prettier_options: "--write **/*.{js,css,html,md} --single-quote --no-semi --tab-width 2"
          prettier_version: "3.8.0"
          only_changed: true
          git_identity: author
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
